<div class="page-wrapper">
	<div class="row col-lg-12 about-image nopadding">
	<img src="" alt="about image" height="250" width="250" class="image-about">
	</div>
	<div class="row">
		<div class="col-lg-12 about-info nopadding">
			<h2>About me</h2>
			<p class="nopadding">
				Macaroon jujubes muffin jelly powder marshmallow topping. Cookie macaroon cookie dessert. Dragée muffin jelly apple pie icing. Sweet roll toffee candy gummi bears cheesecake tiramisu lemon drops tootsie roll chocolate cake. Pudding jujubes gummi bears jelly beans jujubes lemon drops dessert pudding. Oat cake cupcake donut cookie cupcake gingerbread pastry. Ice cream cookie powder. Marzipan tart lollipop. Candy biscuit pudding cake apple pie sweet pudding chocolate bar. Cookie dragée lemon drops fruitcake tootsie roll. Cotton candy oat cake pie sesame snaps biscuit soufflé. Chocolate chocolate tootsie roll tootsie roll jelly-o brownie. Dessert cake oat cake toffee soufflé chocolate cake topping marshmallow.

			</p>
		</div>
	</div>

</div>