<div class="page-wrapper">
	<div class="row col-lg-12 about-image nopadding">
	<img src="/assets/me-image.JPG" alt="me image" height="300" width="250" class="image-about">
	</div>
	<div class="row">
		<div class="col-lg-12 about-info nopadding">
			<h2>About me</h2>
			<p class="nopadding">
				Food has always been a great passion for me. Growing up in a home where meals were always made from scratch from a mum who always tried new and exciting recipes, couple with traditional and comforting meals. This is where my style of cooking comes from, that meeting of worlds between delicious and cosy mixed with modern styles. 
				
				I'm currently based in Tokyo where I teach cooking lessons of Botswana dishes. I am also looking to gain work experience as a sous chef in one of the amazing restaurants here in Japan.

			</p>
		</div>
	</div>

</div>