<div class="page-wrapper">
	<div class="row col-lg-12 contact-image nopadding">
	<img src="/assets/contact-image.png" alt="contact image" height="265" width="250" class="image-contact">
	</div>
	<div class="row">
		<div class="col-lg-12 contact-info nopadding">
			<h2>Contact</h2>
			<ul class="nopadding">
				<li>Email: tracey@ketchupandeggs.com</li>
			</ul>
		</div>
	</div>

</div>