/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

 @import 'normalize';

 html, body {
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	background: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

/* NEW STYLE BEGIN */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #dcd0c0;
	padding: 7em 0 0 0;
	border-right: 1px solid #dcd0c0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding-left:15px;*/
}

.nopadding {
	padding: 0 !important;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper { 
        /*padding-left: 15px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* NEW STYLE END */

.sidebar {
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #dcd0c0;
	padding: 7em 0 0 0;
	border-right: 1px solid #dcd0c0;
}

.logo {
	width: 40px;
	position: absolute;
	right: 3em;
	top: 3em;
	}


.category {
	font-weight: 700;
	font-size: 0.7em;
	text-transform: uppercase;
	color: #33acb7;
}

li {
	padding: 1em 0;
}

/*.list_border{
	border-bottom: 1.5px solid #d6dce0;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
}*/

li a {
	color: #9eafba;
	font-size: 20px;
	text-decoration: none;
	transition: all .4s ease;
}

li a:hover{
	color: #33acb7;
}

li a:active{
	color: #33acb7;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.header {
	border-bottom: 1px solid #f4f4f4;
	background: #f4f4f4;
	color: #9eafba;
	height: 60px;
	line-height: 60px;
	
}

.header p {
	display: inline;
	padding-left:25px;	
}
		
.header a {
	color: #9eafba;
	text-decoration: none;
}

.header a:postlink {
	color: #9eafba;
	text-decoration: none;
	padding-left:25px;
}

.header a:hover {
	color: #33acb7;
}

.button {
	font-size: .8em;
	float: right;
	padding-right: 15px;
}


/* Post index page */
.post_wrapper {
   	/*padding-left: 20px;*/
   	
}

.post-info {
	background: url(restaurant_icons.png);
	height: 414px;
}

.title {
	margin-bottom: 0;
}

.title a {
	font-weight: 500;
	text-decoration: none;
	color: #2a2f35;
	font-size: 1em;
}

.title a:hover {
	color: #33acb7;
}

.date_and_author {
	color: #9eafba;
	margin: .5em 0 0 0;
}


/* Post Content (show page) */
.post_content {
	padding-left: 20px;
}

.title {
	font-weight: 500;
	text-decoration: none;
	color: #2a2f35;
	font-size: 2.5em;
	margin-bottom: 0;
}
		
.body {
	font-size: 1.1em;
	line-height: 1.75;
}

.date_and_author {
	color: #9eafba;
	margin: .5em 0 2em 0;
}

/*Comments

.comments h2{
	margin: 3em 0 1em 0;
	border-bottom: 1px solid #d6dce0;
	padding-bottom: 0.5em;
}
			
.comments h3 {
	margin-top: 2em;
}

.comment {
	border-bottom: 1px solid #d6dce0;
	padding: 1.5em 2em;
}
				
				/*.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				
.comment_content {
	float: left;
}
					
.comment_name {
	margin: 1em 0 0 0;
	font-size: 0.7em;
	text-transform: uppercase;
}
					
.comment_body {
	font-size: 1.2em;
	margin: 0.2em 0 0 0;
}
					
.comment_time {
	margin-top: 1.2em;
	font-size: .8em;
}
				
.button {
	float: right;
}
			
.button input[type="text"], textarea {
				width: 50%;
			}

	
.page_wrapper {
	/*padding: 2em;
	padding-left: 15em;
}
		
.profile_image {
	width: 300px;
	float: left;
	margin-right: 2em;
}
			
.profile_image img {
	width: 100%;
	border-radius: 0.35em;
}
		


#content h1 {
	font-weight: 500;
}
			
#content p {
	font-size: 1.1em;
	line-height: 1.75;
}
			
#content a {
	color: #33acb7;
	font-weight: 700;
	text-decoration: none;
}
*/
.links {
		margin: 2em 0;
}

	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		background: transparent;
		border: 1px solid #d6dce0;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		margin-left: .5em;
}
		
